<!DOCTYPE html>
<head class="noisework.cn">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>安装的Anaconda一段时间之后图标和启动器Navigator丢失的问题</title>
	<link rel="icon" href="../static/img/favicon.ico">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<link rel="stylesheet" href="../static/css/style.css">
	<link rel="stylesheet" href="../static/css/root.css">
	<script src="https://kit.fontawesome.com/25cfefa7b1.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="../static/css/loading.css"> 
</head>
<body>
	 <!-- loading加载--> 
	 <div id="spinner-container">
        <div class="spinner"></div>
	 </div>
     <div class="container">
        <h2>安装的Anaconda一段时间之后图标和启动器Navigator丢失的问题</h2>
        <div class="meta-info">
            <span>作者：Ciin7mo</span>
            <span>发布时间：2025.03.21</span>
        </div>
        <div class="separator"></div>
        <div class="content">
            <h3>解决方案：</h3>
            <p>1.管理员身份运行Anaconda Prompt</p>
		</br>
            <p>2.执行命令 conda update anaconda-navigator</p>
            <img src="./img/01.png", class="images">
		</br>
            <p>3.执行anaconda-navigator --reset</p>
		</br>
            <p>4.执行conda update anaconda-client</p>
            <img src="./img/02.png", class="images">
		</br>
            <p>5.执行conda update -f anaconda-client</p>
		</br>
            <p>6.重启Navigator</p>
            <img src="./img/03.png", class="images">
        </div>
    </div>

	<footer>		
		<span class="astro-OY55P3EK"><span class="astro-OY55P3EK"><p class="c">@版权所有 &copy; 2025 Ciin7mo&nbsp;&nbsp;本站已安全运行 <span id="timeDate">载入天数...</span><span id="times">载入时分秒...</span>现在时间：<span id="show_time"></span></p>   
		<script>
  </footer>
  

  </div>
</body>
<script src="../static/js/script.js"> </script>
<script src="../static/js/Meting.min.js"> </script>
<script src="../static/js/loading.js"></script>
<script src="../../js/fireworks.js"></script>
<script src="../../js/date.js"></script>
</html>
