<!DOCTYPE html>
<head class="noisework.cn">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>mysql报错之 ERROR 1064 (42000)</title>
	<link rel="icon" href="../static/img/favicon.ico">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<link rel="stylesheet" href="../static/css/style.css">
	<link rel="stylesheet" href="../static/css/root.css">
	<script src="https://kit.fontawesome.com/25cfefa7b1.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="../static/css/loading.css"> 
</head>
<body>
	 <!-- loading加载--> 
	 <div id="spinner-container">
        <div class="spinner"></div>
	 </div>
     <div class="container">
        <h2>mysql报错之 ERROR 1064 (42000)</h2>
        <div class="meta-info">
            <span>作者：Ciin7mo</span>
            <span>发布时间：2025.03.21</span>
        </div>
        <div class="separator"></div>
        <div class="content">
            <h3>问题描述：You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'WHERE `id` = %s' at line 1</h3>
			</br>
			<h3>解决方案：</h3>
            <p>解决办法：（语法错误）检查sql语句是否正确，检查字段是否存在，检查字段类型是否正确。</p>
        </br>    
            <p>(1)用ALTER USER 'root'@'localhost' IDENTIFIED BY '新密码';
                然后flush privileges; 刷新权限。</p>
        </br>    
            <p>(2)或者UPDATE mysql.user SET Password=PASSWORD('新密码') WHERE User='root' AND Host='localhost';
                <br>然后FLUSH PRIVILEGES;</p>
        </br>    
            <p>(3)或者直接采用 set password '你的密码'； 即可修改
                <br>然后再flush privileges; 刷新权限。</p>
        </div>
    </div>

	<footer>		
		<span class="astro-OY55P3EK"><span class="astro-OY55P3EK"><p class="c">@版权所有 &copy; 2025 Ciin7mo&nbsp;&nbsp;本站已安全运行 <span id="timeDate">载入天数...</span><span id="times">载入时分秒...</span>现在时间：<span id="show_time"></span></p>   
		<script>
  </footer>
  

  </div>
</body>
<script src="../static/js/script.js"> </script>
<script src="../static/js/Meting.min.js"> </script>
<script src="../static/js/loading.js"></script>
<script src="../../js/fireworks.js"></script>
<script src="../../js/date.js"></script>
</html>
