<!DOCTYPE html>
<head class="noisework.cn">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>数据库 博客合集</title>
	<link rel="icon" href="../static/img/favicon.ico">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<link rel="stylesheet" href="../static/css/style.css">
	<link rel="stylesheet" href="../static/css/root.css">
	<script src="https://kit.fontawesome.com/25cfefa7b1.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="../static/css/loading.css"> 
</head>
<body>
	 <!-- loading加载--> 
	 <div id="spinner-container">
        <div class="spinner"></div>
	 </div>
		 <!-- 在手机尺寸下显示的导航按钮 -->
		 <div class="mobile-nav-button">
			<i class="fa-solid fa-list"></i>
			</div>  
	  <!--侧边-->
	<div class="noise-filter"></div>
	<div class="noise-main">
		<div class="noise-left">
			<div class="logo" style="background-image: url(../static/img/2.jpg);">
			</div>
			 <!-- 坐标.个性签名-->
			 <div class="left-div left-des">
				<div class="left-des-item"><i class="fa-solid fa-location-dot"></i><span>湖南 &nbsp; 长沙</span></div>
			</div>
			<!-- 标签-->
			<div class="left-div left-tag">
				<div class="left-tag-item">HTML
				</div>
				<div class="left-tag-item">Javascript
				</div>
				<div class="left-tag-item">CSS
				</div>
				<div class="left-tag-item">Python全栈
				</div>
				<div class="left-tag-item">Web开发
				</div>
				<div class="left-tag-item">大数据
				</div>
				<div class="left-tag-item">C#</div>
			</div>
			<div class="left-div left-tag">
				<h2>分类</h2>
				<div class="left-tag-a">
					<a href="./Python/Python.html">Python</a>
				</div>
				<div class="left-tag-a">
					<a href="./Web前端/Web前端.html">Web前端</a>
				</div>
				<div class="left-tag-a">
					<a href="./Linux/Linux.html">Linux</a>
				</div>
				<div class="left-tag-a">
					<a href="./Unity/Unity.html">Unity</a>
				</div>
				<div class="left-tag-a">
					<a href="./Hardware/Hardware.html">硬件</a>
				</div>
				<div class="left-tag-a">
					<a href="Databases.html">数据库</a>
				</div>
				<div class="left-tag-a">
					<a href="./Bigdata/Bigdata.html">大数据</a>
				</div>
				<div class="left-tag-a">
					<a href="./Networksecurity/Networksecurity.html">网络安全</a>
				</div>
		
			</div>
			<!-- 时间代码-->
		    <div class="left-div left-time">
			<ul id="line1">	
				<div id="lbl"></div>
				<div id="clock"></div>			
			</ul>
		   </div>
	   <!-- 随机一言代码-->
	   	<div class="left-div left-time">
		
		</div>
	<!-- 随机一言结束-->
</div>
	
		<div class="noise-right">
			<header>
				<!-- 手机页面头部logo -->		
				<div class="index-logo" style="background-image: url(../static/img/logo3.png);">
				</div>
				<div class="welcome">
					<span class="gradientText">数据库 博客合集</span>
				</div>

			</header>
			
			<content>
				<div class="projectList">
					<a class="projectItem a" target="_blank" href="D-1.html">
						<div class="projectItemLeft">
							<h1>mysql报错之 ERROR 1045(2800)</h1>
							<p>作者：Ciin7mo&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>2025.03.21</span></P>
							<p>mysql报错之 ERROR 1045(2800)</p>
						</div>
					</a>
					<a class="projectItem a" target="_blank" href="D-2.html">
						<div class="projectItemLeft">
							<h1>mysql报错之ERROR 1820 (HY000)</h1>
							<p>作者：Ciin7mo&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>2025.03.21</span></P>
							<p>mysql报错之ERROR 1820 (HY000)</p>
						</div>
					</a>
					<a class="projectItem a" target="_blank" href="D-3.html">
						<div class="projectItemLeft">
							<h1>mysql报错之 ERROR 1064 (42000)</h1>
							<p>作者：Ciin7mo&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>2025.03.21</span></P>
							<p>mysql报错之 ERROR 1064 (42000)</p>
						</div>
					</a>


				</div>
			</content>	

			<footer>		
				<span class="astro-OY55P3EK"><span class="astro-OY55P3EK"><p class="c">@版权所有 &copy; 2025 Ciin7mo&nbsp;&nbsp;本站已安全运行 <span id="timeDate">载入天数...</span><span id="times">载入时分秒...</span>现在时间：<span id="show_time"></span></p>   
				<script>
		  </footer>
		  
	  
		  </div>
	  </body>
	  <script src="../static/js/script.js"> </script>
	  <script src="../static/js/Meting.min.js"> </script>
	  <script src="../static/js/loading.js"></script>
	  <script src="../../js/fireworks.js"></script>
	  <script src="../../js/date.js"></script>
	  </html>
	  