<!DOCTYPE html>
<head class="noisework.cn">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Ciin7mo's 个人博客</title>
	<link rel="icon" href="./static/img/favicon.ico">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<link rel="stylesheet" href="./static/css/style.css">
	<link rel="stylesheet" href="./static/css/root.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
	<script src="https://kit.fontawesome.com/25cfefa7b1.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="./static/css/Right.css">
	<link rel="stylesheet" type="text/css" href="./static/css/loading.css"> 
	<script src="./static/js/Right.js"></script>
</head>
<body>
	 <!-- loading加载--> 
	 <div id="spinner-container">
        <div class="spinner"></div>
    </div>
	 <!-- 右键菜单 -->
	 <body oncontextmenu="openMenu(event)">
		<div class="menu">
			<ul class="menu-list01">
				<li class="menu-item" onclick="toggleFullScreen()">
					<svg xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 512 512">
						<path d="M200 32H56C42.7 32 32 42.7 32 56V200c0 9.7 5.8 18.5 14.8 22.2s19.3 1.7 26.2-5.2l40-40 79 79-79 79L73 295c-6.9-6.9-17.2-8.9-26.2-5.2S32 302.3 32 312V456c0 13.3 10.7 24 24 24H200c9.7 0 18.5-5.8 22.2-14.8s1.7-19.3-5.2-26.2l-40-40 79-79 79 79-40 40c-6.9 6.9-8.9 17.2-5.2 26.2s12.5 14.8 22.2 14.8H456c13.3 0 24-10.7 24-24V312c0-9.7-5.8-18.5-14.8-22.2s-19.3-1.7-26.2 5.2l-40 40-79-79 79-79 40 40c6.9 6.9 17.2 8.9 26.2 5.2s14.8-12.5 14.8-22.2V56c0-13.3-10.7-24-24-24H312c-9.7 0-18.5 5.8-22.2 14.8s-1.7 19.3 5.2 26.2l40 40-79 79-79-79 40-40c6.9-6.9 8.9-17.2 5.2-26.2S209.7 32 200 32z"/>
					</svg>
					<span style="margin-left: 2px;">全屏</span>
				</li>
				<li class="menu-item" onclick="refreshPage()">
					<svg xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 512 512"><path d="M142.9 142.9c62.2-62.2 162.7-62.5 225.3-1L327 183c-6.9 6.9-8.9 17.2-5.2 26.2s12.5 14.8 22.2 14.8H463.5c0 0 0 0 0 0H472c13.3 0 24-10.7 24-24V72c0-9.7-5.8-18.5-14.8-22.2s-19.3-1.7-26.2 5.2L413.4 96.6c-87.6-86.5-228.7-86.2-315.8 1C73.2 122 55.6 150.7 44.8 181.4c-5.9 16.7 2.9 34.9 19.5 40.8s34.9-2.9 40.8-19.5c7.7-21.8 20.2-42.3 37.8-59.8zM16 312v7.6 .7V440c0 9.7 5.8 18.5 14.8 22.2s19.3 1.7 26.2-5.2l41.6-41.6c87.6 86.5 228.7 86.2 315.8-1c24.4-24.4 42.1-53.1 52.9-83.7c5.9-16.7-2.9-34.9-19.5-40.8s-34.9 2.9-40.8 19.5c-7.7 21.8-20.2 42.3-37.8 59.8c-62.2 62.2-162.7 62.5-225.3 1L185 329c6.9-6.9 8.9-17.2 5.2-26.2s-12.5-14.8-22.2-14.8H48.4h-.7H40c-13.3 0-24 10.7-24 24z"/></svg>
					<span style="margin-left: 2.3px;">刷新</span>
				</li>
				<li class="menu-item" onclick="goBack()">
					<svg xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512"><path d="M0 416c0 35.3 28.7 64 64 64l320 0c35.3 0 64-28.7 64-64l0-320c0-35.3-28.7-64-64-64L64 32C28.7 32 0 60.7 0 96L0 416zM128 256c0-6.7 2.8-13 7.7-17.6l112-104c7-6.5 17.2-8.2 25.9-4.4s14.4 12.5 14.4 22l0 208c0 9.5-5.7 18.2-14.4 22s-18.9 2.1-25.9-4.4l-112-104c-4.9-4.5-7.7-10.9-7.7-17.6z"/></svg>
					<span style="margin-left: 2.7px;">返回</span>
				</li>
				<li class="menu-item">
					<a href="/" target="_blank" style="color: white; text-decoration: none;">
						<svg xmlns="http://www.w3.org/2000/svg" height="16" width="18" viewBox="0 0 576 512">
							<path d="M385.2 167.6c6.4 0 12.6 .3 18.8 1.1C387.4 90.3 303.3 32 207.7 32 100.5 32 13 104.8 13 197.4c0 53.4 29.3 97.5 77.9 131.6l-19.3 58.6 68-34.1c24.4 4.8 43.8 9.7 68.2 9.7 6.2 0 12.1-.3 18.3-.8-4-12.9-6.2-26.6-6.2-40.8-.1-84.9 72.9-154 165.3-154zm-104.5-52.9c14.5 0 24.2 9.7 24.2 24.4 0 14.5-9.7 24.2-24.2 24.2-14.8 0-29.3-9.7-29.3-24.2 .1-14.7 14.6-24.4 29.3-24.4zm-136.4 48.6c-14.5 0-29.3-9.7-29.3-24.2 0-14.8 14.8-24.4 29.3-24.4 14.8 0 24.4 9.7 24.4 24.4 0 14.6-9.6 24.2-24.4 24.2zM563 319.4c0-77.9-77.9-141.3-165.4-141.3-92.7 0-165.4 63.4-165.4 141.3S305 460.7 397.6 460.7c19.3 0 38.9-5.1 58.6-9.9l53.4 29.3-14.8-48.6C534 402.1 563 363.2 563 319.4zm-219.1-24.5c-9.7 0-19.3-9.7-19.3-19.6 0-9.7 9.7-19.3 19.3-19.3 14.8 0 24.4 9.7 24.4 19.3 0 10-9.7 19.6-24.4 19.6zm107.1 0c-9.7 0-19.3-9.7-19.3-19.6 0-9.7 9.7-19.3 19.3-19.3 14.5 0 24.4 9.7 24.4 19.3 .1 10-9.9 19.6-24.4 19.6z"/>
						</svg>
						<span style="margin-left: -4.5px;">联系</span>
					</a>
				</li>
				<li class="menu-item-divider"></li>
				<li class="menu-item menu-item-danger">
					<a href="#" style="color: white; text-decoration: none;"></a>
					<svg xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 512 512"><path d="M64 80c-8.8 0-16 7.2-16 16V416c0 8.8 7.2 16 16 16H448c8.8 0 16-7.2 16-16V96c0-8.8-7.2-16-16-16H64zM0 96C0 60.7 28.7 32 64 32H448c35.3 0 64 28.7 64 64V416c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V96zm175 79c9.4-9.4 24.6-9.4 33.9 0l47 47 47-47c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9l-47 47 47 47c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0l-47-47-47 47c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l47-47-47-47c-9.4-9.4-9.4-24.6 0-33.9z"/></svg>
					<span style="margin-left: 2px;">关闭</span>
				</li>
			</ul>
		</div>
		 <!-- 在手机尺寸下显示的导航按钮 -->
		 <div class="mobile-nav-button">
			<i class="fa-solid fa-list"></i>
			</div>  
	  <!--侧边-->
	<div class="noise-filter"></div>
	<div class="noise-main">
		<div class="noise-left">
			<div class="logo" style="background-image: url(./static/img/2.jpg);">
			</div>
			 <!-- 坐标.个性签名-->
			 <div class="left-div left-des">
				<div class="left-des-item"><i class="fa-solid fa-location-dot"></i><span>湖南 &nbsp; 长沙</span></div>
			</div>
			<!-- 标签-->
			<div class="left-div left-tag">
				<div class="left-tag-item">HTML
				</div>
				<div class="left-tag-item">Javascript
				</div>
				<div class="left-tag-item">CSS
				</div>
				<div class="left-tag-item">Python全栈
				</div>
				<div class="left-tag-item">Web开发
				</div>
				<div class="left-tag-item">大数据
				</div>
				<div class="left-tag-item">C#</div>
			</div>
			<div class="left-div left-tag">
				<h2>分类</h2>
				<div class="left-tag-a">
					<a href="./Python/Python.html">Python</a>
				</div>
				<div class="left-tag-a">
					<a href="./Web前端/Web前端.html">Web前端</a>
				</div>
				<div class="left-tag-a">
					<a href="./Linux/Linux.html">Linux</a>
				</div>
				<div class="left-tag-a">
					<a href="./Unity/Unity.html">Unity</a>
				</div>
				<div class="left-tag-a">
					<a href="./Hardware/Hardware.html">硬件</a>
				</div>
				<div class="left-tag-a">
					<a href="./Databases/Databases.html">数据库</a>
				</div>
				<div class="left-tag-a">
					<a href="./Bigdata/Bigdata.html">大数据</a>
				</div>
				<div class="left-tag-a">
					<a href="./Networksecurity/Networksecurity.html">网络安全</a>
				</div>
		
			</div>
			<!-- 时间代码-->
		    <div class="left-div left-time">
			<ul id="line1">	
				<div id="lbl"></div>
				<div id="clock"></div>			
			</ul>
		   </div>
	   <!-- 随机一言代码-->
			<div class="left-div left-time">
			</div>
			<!-- 随机一言结束-->
		</div>
	
		<div class="noise-right">
			<header>
				<!-- 手机页面头部logo -->		
				<div class="index-logo" style="background-image: url(./static/img/logo3.png);">
				</div>
				<div class="welcome">⭐️
					<span class="gradientText">Ciin7mo's
						<a href="/" target="_blank">博客</a></span>
				</div>
				<div class="description">👏<span class="purpleText">欢迎访问本站！ </span>
				</div>							

				<div class="iconContainer">
					<a class="iconItem" onclick="" target="_blank" href="./mantain/mantain.html">
						<svg t="1704870335945" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2487">
                            <path d="M511.6 76.3C264.3 76.2 64 276.4 64 523.5 64 718.9 189.3 885 363.8 946c23.5 5.9 19.9-10.8 19.9-22.2v-77.5c-135.7 15.9-141.2-73.9-150.3-88.9C215 726 171.5 718 184.5 703c30.9-15.9 62.4 4 98.9 57.9 26.4 39.1 77.9 32.5 104 26 5.7-23.5 17.9-44.5 34.7-60.8-140.6-25.2-199.2-111-199.2-213 0-49.5 16.3-95 48.3-131.7-20.4-60.5 1.9-112.3 4.9-120 58.1-5.2 118.5 41.6 123.2 45.3 33-8.9 70.7-13.6 112.9-13.6 42.4 0 80.2 4.9 113.5 13.9 11.3-8.6 67.3-48.8 121.3-43.9 2.9 7.7 24.7 58.3 5.5 118 32.4 36.8 48.9 82.7 48.9 132.3 0 102.2-59 188.1-200 212.9 23.5 23.2 38.1 55.4 38.1 91v112.5c0.8 9 0 17.9 15 17.9 177.1-59.7 304.6-227 304.6-424.1 0-247.2-200.4-447.3-447.5-447.3z"  p-id="2488"></path>
                        </svg>
						<div class="iconTip">Github</div>
					
					</a><a class="iconItem" onclick="pop('./static/img/weixin.jpg')" href="./mantain/mantain.html">
						<i class="fa-brands fa-weixin"></i>
						<div class="iconTip">微信</div>
					</a>
				</div>
				<!--图片弹出pop容器-->
				<div id="imagePopup" style="display:none; position:fixed; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.7); z-index:1000;">
					<img id="popupImage" style="position:absolute; maxWidth:100px; maxHeight:100px;top:50%; left:50%; transform:translate(-50%,-50%);" src="" alt="Popup Image">
					<a href="javascript:void(0)" onclick="closePopup()" style="position:absolute; top:10px; right:10px; color:white; font-size:24px;">&times;</a>
				</div>
			</header>
			
			<content>
				<div class="projectList">

				<a class="projectItem a" target="_blank" href="W-1.html">
					<div class="projectItemLeft">
						<h1>网页组协作及本地测试</h1>
						<p>作者：Ciin7mo&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>2025.03.21</span></P>
						<p>湘缘元宇宙数字化展示平台网页组协作手册</p>
						<div class="sticky-icon">
							<i class="fas fa-thumb-tack"></i>
						</div>
					</div>
				</a>
				<a class="projectItem a" target="_blank" href="W-2.html">
					<div class="projectItemLeft">
						<h1>打开Unity的WebGL包及网页中嵌入的方法</h1>
						<p>作者：Ciin7mo&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>2025.04.24</span></P>
						<p>关于打开Unity的WebGL包及网页中嵌入的方法</p>
						<div class="sticky-icon">
							<i class="fas fa-thumb-tack"></i>
						</div>
					</div>
				</a>
				<a class="projectItem a" target="_blank" href="./Python/P-1.html">
					<div class="projectItemLeft">
						<h1>安装的Anaconda一段时间之后图标和启动器Navigator丢失的问题</h1>
						<p>作者：Ciin7mo&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>2025.03.21</span></P>
						<p>安装的Anaconda一段时间之后图标和启动器Navigator丢失解决方案</p>
					</div>
				<a class="projectItem a" target="_blank" href="./Databases/D-1.html">

					<div class="projectItemLeft">
						<h1>mysql报错之 ERROR 1045 (2800)</h1>
						<p>作者：Ciin7mo&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>2025.03.21</span></P>
						<p>mysql报错之 ERROR 1045 (2800)</p>
					</div> 
				</a>
				<a class="projectItem a" target="_blank" href="./Databases/D-2.html">
					<div class="projectItemLeft">
						<h1>mysql报错之ERROR 1820 (HY000)</h1>
						<p>作者：Ciin7mo  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>2025.03.21</span></P>
						<p>mysql报错之ERROR 1820 (HY000)</p>
					</div>
				</a>
				<a class="projectItem a" target="_blank" href="./Databases/D-3.html">
					<div class="projectItemLeft">
						<h1>mysql报错之 ERROR 1064 (42000)</h1>
						<p>作者：Ciin7mo  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>2025.03.21</span></P>
						<p>mysql报错之 ERROR 1064 (42000)</p>
					</div>
				</a>

				</div>
			</content>	

	<footer>		
		  <span class="astro-OY55P3EK"><span class="astro-OY55P3EK"><p class="c">@版权所有 &copy; 2025 Ciin7mo&nbsp;&nbsp;本站已安全运行 <span id="timeDate">载入天数...</span><span id="times">载入时分秒...</span>现在时间：<span id="show_time"></span></p>   
		  <script>
	</footer>
		

	</div>
</body>
<script src="./static/js/script.js"> </script>
<script src="./static/js/Meting.min.js"> </script>
<script src="./static/js/loading.js"></script>
<script src="../js/fireworks.js"></script>
<script src="../js/date.js"></script>
</html>
